<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProdajaKarataEntities" connectionString="metadata=res://*/ProdajaKarataModel.csdl|res://*/ProdajaKarataModel.ssdl|res://*/ProdajaKarataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=16057_DB;persist security info=True;user id=16057_User;password=7yDsyGQs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EvidencijaSudionikaEntities" connectionString="metadata=res://*/EvidencijaSudionikaModel.csdl|res://*/EvidencijaSudionikaModel.ssdl|res://*/EvidencijaSudionikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=16057_DB;persist security info=True;user id=16057_User;password=7yDsyGQs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneriranjeIzvjescaEntities" connectionString="metadata=res://*/GeneriranjeIzvjescaModel.csdl|res://*/GeneriranjeIzvjescaModel.ssdl|res://*/GeneriranjeIzvjescaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=16057_DB;persist security info=True;user id=16057_User;password=7yDsyGQs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>